* {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
  background-color: #ffe9b3;
	font-size: 3.5vw;
	font-family: sans-serif;
	color: #333;
  transition: .5s;
}

h1 {
  font-family: 'Nunito-sans', sans-serif;
  color: #c03;
  border-bottom: 5px solid #c03;
  font-size: 2em;
  position: absolute;
  left: 5vw;
  top: 6vh;
   line-height: 1em;
}

h2 {
  margin: 0 auto;
  font-weight: 100;
  font-size: 1.25em;
  color: #333;
  position: absolute;
  left: 12vw;
  top: 22vh;
}

p {
	color: white;
	position: absolute;
	left: 25vw;
	top: 37vh;
	width: 35vw;
	margin: 0 auto;
	font-size: .5em;
	padding-right: 10%;
}

.name {
	z-index: 2;
	position: absolute;
	left: 1vw;
	top: 93vh;
	padding: 0;
  font-size: .67em;
}

span {
  color: #333;
  font-size: 2.2vw;
  font-weight: 700;
  font-style: italic;
}



.background2 {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 75vh;
  background-color: #d9ae48;
  animation: slideTopLeft .75s 1;
}

.background3 {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 23vw;
  height: 32vh;
  background-color: #d9be80;
  animation: slideBotLeft .75s 1;
}

.background1 {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 42vw;
  height: 80vh;
  background-color: #ebca7a;
  animation: slideBotRight .75s 1;
}

@keyframes slideBotLeft {
	from {
		transform: scale(.25);
		transform-origin: bottom left;
	}
	to {
		transform: scale(1);
		transform-origin: bottom left;
	}
}

@keyframes slideBotRight {
	from {
		transform: scale(.25);
		transform-origin: bottom right;
	}
	to {
		transform: scale(1);
		transform-origin: bottom right;
	}
}

@keyframes slideTopLeft {
	from {
		transform: scale(.25);
		transform-origin: top left;
	}
	to {
		transform: scale(1);
		transform-origin: top left;
	}
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1, h2, p, span, a {
  animation: opac 2.5s 1;
}

#sofa {
  color:  #d9ae48;
  display: inline-block;
}

#sofa:hover {
  color: #333;
}

.sofa {
  text-align: center;
  position: absolute;
  bottom: 26vh;
  left: 51vw;
}

.sofa a:after {
   border-top:5px solid #d9ae48;
    border-left:5px solid #d9ae48;
}

.sofa a:before {
    border-bottom:5px solid #d9ae48;
    border-right:5px solid #d9ae48;
}

.sort{
  margin: 0 0 0 53%;
  position: absolute;
  right: 6vw;
  bottom: 27vh;
}

.search{
  margin: 0 auto;
  position: absolute;
  right: 6vw;
  bottom: 17vh;
}

.search a:hover:before {
  width: 106%;
  height: 115%;
}

.search a:hover:after {
  width: 106%;
  height: 115%;
}

.structures{
  position: absolute;
  right: 6vw;
  bottom: 7vh;
}

.structures a:hover:before {
  width: 105%;
  height: 115%;
}

.structures a:hover:after {
  width: 105%;
  height: 115%;
}

a {
  cursor: pointer;
  position: relative;
  font-size: 3.5vw;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  text-decoration: none;
  color: #333;
}

a:after {
    content:" ";
    width: 5px;
    height: 5px;
    position:absolute;
    border :0px solid #333;
    transition:all 1s;
    top:-5px;
    left:-5px;
    border-top:5px solid #ebca7a;
    border-left:5px solid #ebca7a;
}

a:before {
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid #333;
    transition:all 1s;
    bottom:-5px;
    right:-5px;
    border-bottom:5px solid #ebca7a;
    border-right:5px solid #ebca7a;
}
a:hover {
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
}

a:hover:before {
  border-bottom:5px solid #333;
  border-right:5px solid #333;
  width: 110%;
  height: 115%;
}

a:hover:after {
  border-top:5px solid #333;
  border-left:5px solid #333;
  width: 110%;
  height: 115%;
}
